<div class="row">
    <div class="col s6 m3 l3 icon">
        <i class="fa fa-address-book" aria-hidden="true"></i>
        {{profile.phone}}
    </div>
    <div class="col s6 m3 l3 icon">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        {{profile.mail}}
    </div>
    <div class="col s6 m3 l3 icon">
        <i class="fa fa-home" aria-hidden="true"></i>
        {{profile.address}}
    </div>
    <div class="col s6 m3 l3 icon">
        <i class="fa fa-male" aria-hidden="true"></i>
        {{profile.name}}
    </div>
</div>