<div class="col s12 m12 l12">
    <h2>Interests</h2>
    <br><br>
    <div class="row">
        <div class="col s4 offset-s2 m2 offset-m1 l2 offset-l1">
            <app-circle-icon icon="fa fa-music" text="Music"></app-circle-icon>
        </div>

        <div class="col s4 m2 l2">
            <app-circle-icon icon="fa fa-rocket" text="Travelling"></app-circle-icon>
        </div>


         <div class="col s4 m2 l2">
            <app-circle-icon icon="fa fa-gamepad" text="Video games"></app-circle-icon>
        </div>

         <div class="col s4 m2 l2">
            <app-circle-icon icon="fa fa-coffee" text="Coffee"></app-circle-icon>
        </div>

        <div class="col s4 m2 l2">
            <app-circle-icon icon="fa fa-space-shuttle" text="Space"></app-circle-icon>
        </div>

        
    </div>
</div>
