<div class="row">
  <div class="col s12 offset-s1 m12 l12"> 
<h2>Work</h2>
  </div>
<div class="box col s10 offset-s1 m4 l4"> 
  <ul>
    <li>Compagny Name :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;{{compagny}}</li>
     <li>Address : &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;{{address}}</li>
      <li>Period : &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;{{period}}</li>
       <li>Post :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;{{poat}}</li>
  </ul>
<br>
<div class="paragraph">
  {{paragraph}}
</div>
</div>
</div>

