<div *ngIf="education.length >0" class="row">
  <div class="col s12 offset-s1 m12 l12">
    <h2>Education</h2>
  </div>
  <div class="box col s10 offset-s1 m9 l9">
    <ul>
      <li>Name : {{education[idx].name}}</li>
      <li>Address : {{education[idx].address}}</li>
      <li>Period : {{education[idx].period}}</li>
      <li>Level : {{education[idx].level}}</li>
    </ul>
    <button (click)="left()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    <button (click)="right()"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
  </div>
</div>