<div class="row">
  <div class="col s12 offset-s1 m12 l12"> 
 <h2>Education</h2>
  </div>
<div class="box col s10 offset-s1 m19 l9"> 
  <ul>
    <li>Name :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;{{name}}</li>
     <li>Address : &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;{{address}}</li>
      <li>Period : &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;{{period}}</li>
       <li>Level :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;{{level}}</li>
  </ul>
<br>
<div class="paragraph">
  {{paragraph}}
</div>
</div>
</div>
