h2{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
     text-align: center;
 margin-left: 3%;
}

i{
 color: deepskyblue;
 font-size: 30px;

}

pr{
    text-align: center ;
}
h4{
    text-align: center;
    font-weight: 50px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}