<div class="container">
    <div class="card-panel z-depth-3">
        <app-header [header]="header" [social]="social"></app-header>
        <hr>
        <app-menu></app-menu>
        <hr>
        <app-profile [profile]="profile"></app-profile>
        <hr>
        <app-doing [doings] = "doings"></app-doing>
        <hr>
        <app-thoughts 
        [paragraph]="thoughts.paragraph"
        [author]="thoughts.author"
        ></app-thoughts>
        <hr>
        <app-resume [resume]="resume"></app-resume>
        <hr>
        <app-skills [skills]="skills"></app-skills>
        <hr>
        <app-interests [interests] = "interests"></app-interests>
        <hr>
        <app-experience [experience]="experience"></app-experience>
        <hr>
        <app-contact [contact]="contact" [social]="social"></app-contact>
        <hr>
        <app-footer [profile]="profile"></app-footer>
    </div>
</div>