<div class="row">
	<div class="col s12 m12 offset-m1 l12 offset-l1 ">
		<div class="col l2 m2 s3 text-center">
			<div class="icon-circle">
				<a href="{{facebookurl}}" class="ifacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
			</div>
		</div>

		<div class="col l2 m2 s3 text-center">
			<div class="icon-circle">
				<a href="{{twitterurl}}" class="itwittter" title="Twitter" target="blank"><i class="fa fa-twitter"></i></a>
			</div>
		</div>

		<div class="col l2 m2 s3 text-center">
			<div class="icon-circle">
				<a href="{{googleplusurl}}" class="igoogle" title="Google+" target="blank"><i class="fa fa-google-plus"></i></a>
			</div>
		</div>

		<div class="col l2 m2 s3 text-center">
			<div class="icon-circle">
				<a href="{{linkedinkurl}}" class="iLinkedin" title="Linkedin" target="blank"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>

		<div class="col l2 m2 s3 text-center">
			<div class="icon-circle">
				<a href="{{githuburl}}" class="iGithub" title="Github" target="blank"><i class="fa fa-github"></i></a>
			</div>
		</div>
	</div>
</div>