 <div class="col s12 m12 l12">
    <!--title-->
  <div class="row">
      <div class="col s4 offset-s2 m1  offset-m5 l1 offset-l5 text-align">
      <app-circle-image image="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/16864183_10210664369718443_9008044928972198531_n.jpg?oh=52d7ea6a076df503adf0359b1f0404a5&oe=59564254"></app-circle-image>
      </div>
      <div class="col s3 m2 l2 text-align">
      <app-header-title title="ewjdkew" subtitle="dssd"></app-header-title>
      </div>
  </div>
 </div>
  