<div class="row sticky flatmenu">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <div class="col s4 m4 l4">
      <div class="element" (click)="goTo('profile')">
        profile
      </div>
    </div>
    <div class="col s4 m4 l4">
      <div class="element" (click)="goTo('resume')">
        Resume
      </div>
    </div>
    <!--<div class="col s4 m4 l4">
     <div class="element" (click)="goTo('portolio')">
        Portfolio
      </div>
    </div>-->
    <div class="col s4 m4 l4">
      <div class="element" (click)="goTo('contact')">
        Contact
      </div>
    </div>
  </div>
</div>