<div class="row">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <div class="col s6 m3 l3">
      <app-circleimagemenu text="profile"></app-circleimagemenu>
    </div>
    <div class="col s6 m3 l3">
      <app-circleimagemenu text="Resume"></app-circleimagemenu>
    </div>
    <div class="col s6 m3 l3">
      <app-circleimagemenu text="Portfolio"></app-circleimagemenu>
    </div>
    <div class="col s6 m3 l3">
      <app-circleimagemenu text="Contact"></app-circleimagemenu>
    </div>
  </div>
</div>