
  <div class="row">
      <div class="col s4 offset-s2 m1  offset-m5 l1 offset-l5 text-align">
      <app-circle-image image="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/16864183_10210664369718443_9008044928972198531_n.jpg?oh=52d7ea6a076df503adf0359b1f0404a5&oe=59564254"></app-circle-image>
      </div>
      <div class="col s3 m2 l2 text-align">
      <app-header-title title="Resume" subtitle="My Academic qualifications"></app-header-title>
      </div>
  </div>
  <hr>
<div class="row">
  <div class="col s12 m6 l6">
    <app-block-resume></app-block-resume>
  </div>
  <div class="col s12 m6 l6">
    <app-block-resume2></app-block-resume2>
  </div>
</div>